body {
	
}
#teste{
	width: 70%;
	height: 300px;
	padding-left: 200px;

}
.principal{
	background: #eedae5;
	margin: 1%;

}
.tituloCentralizado {

	text-align:center
}
.espaçamento{
	padding-left: 20px;
}
p{
	text-align:center;
}

#missao {
	font-size:20px	
}
em strong{
	color:#b19cd9;
}
.itens{
	font-style: italic;
}
.beneficios{
	background: #FFFFFF;
	padding: 20px;
}

ul{
	display: inline-block;
	vertical-align:top;
	width: 20%;
	margin-right: 15%;
}
.imagembeneficios{
	width: 20%;
}
//*/dentro do head incluimos a style e a tag < p > de parágrafo para realizarmos a mesma ação para todos - essas informações foram para o documento suporte que é o "style.css"
/*
// < link rel="stylessheet" href="style.css"> - estou dizendo que stylesheet é minha folha e href é minha referencia, de onde busco as informações

// CSS significa Estilo em cascata - reflete em tudo

//# significa tralha

//#ccccc são "códigos" de cores em hexadecimais (usamos 6 elementos baseados do RGB que enxergamos que é red,green and blue, sendo assim, os dois primeiros elementos representam o R, os outros 2 o G e os últimos o B) onde usamos números e cores, então 0 é ausencia de cor e F é o máximo de cor (ex: preto - ausencia de cor #000000 e branco - máximo de cor #FFFFFF)
CSS INLINE - CSS PARA PAGINA INTEIRA - ARQUIVO EXTERNO PARA TER TODO O CSS.
// UL lista não ordenada e OL para lista ordenada e LI para aplicar em todas as linhas
// UX - User experience (a forma do produto) UI- User interface (designer)
// inline e block quer dizer que posso deixar a foto na mesma linha de texto
// head passa informação para navegador
// header é meu cabeçalho