body{
	font-family: 'Montserrat', sans-serif;
}
header{
	background: #FFC0CB;
	padding: 20px 0
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color: #993399;
	text-decoration: underline;
}
.itens{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}
.itens li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 15px 5px;
	box-sizing: border-box;
	border: 2px solid pink;
	border-radius: 10px;
}
.itens li:hover{
	border-color: #993399;
}
.itens li:active{
	border-color: #050919;
}
.itens li:hover h2 {
    font-size: 34px;
}
.itens h2{
	font-size: 20px;
	font-weight: bold;
	/*padding: 0 0 10px 0*/
}
.produto_descricao {
	font-weight: 18px;
}
.item_preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer {
	text-align: center;
	background: url("bg.jpg");
	/*padding: 5px 0 40px 0;*/
	/*width: 100%;*/
	padding: 40px 0;
}
.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}
main{
	width: 940px;
	height: 175vh;
	margin: 0 auto;
}

form{
	margin: 40px 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
.checkbox{
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	background: pink;
	color: #993399;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover{
	background: #fc0fc0;
	transform: rotate(20deg) scale(1.2);
}

table{
	margin: 20px 0 40px;
}
thead{
	background: #000000;
	color: white;
	font-weight: bold;
}
td,th{
	border: 1px solid #000000;
	padding: 7px 8px;
}

/*css da pagina inicial*/
/*.teste{
	width: 100%;
}*/

.banner{
	width: 100%;
}
.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	margin: 10px 20px 20px 0;
}
.principal p{
	margin: 0 0 1em;
}
.principal strong{
	font-weight: bold;
}
.principal em{
	font-style: italic;
}

.beneficios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
}

.tituloprincipal{
	text-align: center;
}

.imagembeneficios{
	width: 60%;
}
.mapa{
	padding: 3em 0;
}
.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.video{
	width: 	560px;
	margin: 1em auto;
}

/*margin: cima- direito-baixo-esquerda*/
/*caixa {
	width: 1100px; 
	aqui eu mexo na posição do cabeçalho*/
/*hover - quando o mouse está por cima*/
/*/ active quando está com o mouse clicado*/	
/*/ hover H2 não está funcionando*/
/*/UNICODE - Site para buscar o simbolo de Copyright*/
/*/ inline - Só ocupa o tamanho do meu formulario e o block a pg inteira*/
/*/ o INPUT é importante para dados mais corretos e facilitar a vida dos usuarios, para quem usa o CEL podemos programar para alterar o tipo de teclado.*/
/*/ checked - Usado para deixar um campo já marcado*/
/*/ Requerid é usado para um campo que é obrigatório ser preenchido*/
/*/ placeholder é usado para deixar um modelo de como tal campo deve ser preenchido*/
/*/ border: none; quer dizer que é sem borda alguma*/
/*/ transition: quantidade de tempo que quero que demore e o que quero que sofra transição*/
/*/ cursor:pointer; quero mostrar que é algo clicavel, mudo a setinha para a mãozinha*/
	/*/transform: rotate(30deg); rota em 30 graus*/
/*/ TR é linha e TD é coluna Thead é o cabeçalho e a coluna é TH, TBODY é o corpo*/	
/*/ colspan - Mais de uma coluna em uma mesma célula - usamos colspan="quantidade de coluna"*/
/* 2em é o dobro do tamanho base*/
/* div e section - section é conteudo especifico*/
/* class é usado para estilo e id é para comportamento*/